$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$input-backcolor: #EAEAEA;
$backcolor: #F6F6F6;
$naviconcolor: #7E7E7E;
$footercolor: #353535;
$breakpoints: (
    desktop: 1300px,
    pad-max: 1299px,
    pad-min: 760px,
    mobile: 759px 
);